<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Ask Threepio</title>
    <link rel="icon" type="image/png" href="/static/img/c3po-icon.png" />
    <link href="/static/style.css" rel="stylesheet" />
    <script src="/Scripts/knockout-2.2.1.js"></script>
    @*<script src="~/Scripts/knockout-2.2.1.debug.js"></script>*@
    <script src="/Scripts/Model/static-data.js"></script>
    <script src="/Scripts/Model/proxy.js"></script>
    <script src="/Scripts/Model/util.js"></script>
    <script src="/Scripts/ViewModel/conversation-item.js"></script>
    <script src="/Scripts/ViewModel/sound-vm.js"></script>
    <script src="/Scripts/ViewModel/conversation-vm.js"></script>
    <script src="/Scripts/ViewModel/jukebox-vm.js"></script>
    <script src="/Scripts/ViewModel/app-vm.js"></script>
</head>
<body>
    <div id="content">
        <div id="main" data-bind="with: conversationVm">
            <h1>ASK THREEPIO</h1>
            <div id="threepiobox">
                <div class="personbox">
                    <img src="/static/img/c3po.jpg" />
                </div>
            </div>
            <div id="chatbox">
                <div id="chatboxinner" data-bind="foreach: speechBubbles">
                    <div data-bind="css: rootCss, style: styleMap" >
                        <div data-bind="css: typeCss">
                            <p data-bind="text: words"></p>
                            <form data-bind="if: isInput, submit: decisionClick">
                                <p>
                                    <input type="text" data-bind="value: questionText" />
                                    <button type="submit">Decide</button>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div id="friendbox" class="pop" data-bind="css: friendBoxCss">
                <div class="personbox">
                    <img data-bind="attr: { src: friendboxImage }" />
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        &copy; 2013 Nobody. Images, characters and music are copyright their respective holders. 
                    They were blatantly stolen and used without permission. Something, something, Fair Use? 
    </div>
    <div id="jukebox" data-bind="with: jukeboxVm, event: { mouseover: jukeboxVm.onMouseOver, mouseout: jukeboxVm.onMouseOut, mouseoverBubble: false, mouseoutBubble: false }">
        <div id="jukebox-tab">♬	CANTINA JUKEBOX</div>
        <div id="jukebox-content">
            <audio id="player" controls="controls">
                <source type="audio/mpeg" src="/static/music/1_11_Cantina.mp3" />
            </audio>
            <br />
            <p>Todo: add selector and sound effects</p>
        </div>
    </div>
    <div style="display: none;" data-bind="with: soundEffectVm">
        <audio data-bind="attr: { src: soundEffect0 }" autoplay="autoplay" hidden="hidden" />
        <audio data-bind="attr: { src: soundEffect1 }" autoplay="autoplay" hidden="hidden" />
        <audio data-bind="attr: { src: soundEffect2 }" autoplay="autoplay" hidden="hidden" />
        <audio data-bind="attr: { src: soundEffect3 }" autoplay="autoplay" hidden="hidden" />
        <audio data-bind="attr: { src: soundEffect4 }" autoplay="autoplay" hidden="hidden" />
        <audio data-bind="attr: { src: soundEffect6 }" autoplay="autoplay" hidden="hidden" />
        <audio data-bind="attr: { src: soundEffect7 }" autoplay="autoplay" hidden="hidden" />
        <audio data-bind="attr: { src: soundEffect8 }" autoplay="autoplay" hidden="hidden" />
        <audio data-bind="attr: { src: soundEffect9 }" autoplay="autoplay" hidden="hidden" />
    </div>
    <script type="text/ecmascript">
        var vm = new AppViewModel();
        ko.applyBindings(vm);

        setTimeout(function () {
            vm.conversationVm.initialize();
        }, 1);
        var useIeAnimationHack = false;
        if (navigator.appName == "Microsoft Internet Explorer") {
            useIeAnimationHack = true;
        }
    </script>
    <!-- enable IE animation hack -->
    <!--[if IE]>
        <script type="text/ecmascript">
            useIeAnimationHack = true;
        </script>
    <![endif]-->
</body>
</html>
