<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Ask Threepio</title>
    <link href="/static/style.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="/static/img/c3po-icon.png" />
</head>
<body>
    <h1>ASK THREEPIO</h1>
    <script src="/Scripts/knockout-2.2.1.js"></script>
</body>
</html>
