@font-face
{
    font-family: STARWARS;
    font-style: normal;
    font-weight: normal;
    src: local(STARWARS), url('/static/fonts/STARWARS.TTF') format('opentype');
}

@font-face
{
    font-family: SWCrawlBody;
    font-style: normal;
    font-weight: normal;
    src: local(SWCrawlBody), url('/static/fonts/SWCrawlBody.TTF') format('opentype');
}

html
{
    height: 100%;
}

body
{
    background: black url("/static/img/stars.jpg") no-repeat top center fixed;
    background-size: cover;
    font-family: SWCrawlBody;
    overflow: hidden;
    color: #DAB43C;
    height: 100%;
}


h1
{
    font-family: STARWARS;
    font-size: 48px;
    text-align: center;
    color: black;
    text-shadow: 0px 0px 8px #DAB43C;
}

#header
{
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
}

#content {
    position: fixed;
    top: 100px;
    bottom: 60px;
    width: 100%;
}

#footer {
    position: fixed;
    height: 60px;
    width: 100%;
    text-align: center;
    font-size: 12px;
    background: rgba(0,0,0,0);
    bottom: 0px;
}

